<section class="container-fluid py-5 bg-light">
    <div class="container mt-5">
        <div class="row min-vh-100 justify-content-center align-items-center">
            <div class="col-12">
                <form action="/ingreso" method="POST">
                    <div class="row text-center">
                        <div class="col-12 py-4">
                            <h5 class="text-center fw-bold text-uppercase">Iniciar Sesion</h5>
                        </div>
                        <div class="col-12 mb-3">
                            <input class="form-control" type="email" name="email_usuario" id="email_usuario" placeholder="Correo Electrónico">
                        </div>
                        <div class="col-12 mb-3">
                            <input class="form-control" type="password" name="pass_usuario" id="pass_usuario" placeholder="Contraseña">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
                        </div>
                        <div class="col-12 my-4">
                            <p class="mb-0">ó continua con</p>
                        </div>
                        <div class="col-12">
                            <button type="button" class="btn bt-block col-12 my-2 bg-primary text-light">Facebook</button>
                            <button type="button" class="btn bt-block col-12 my-2 bg-danger text-light">Google</button>
                            <button type="button" class="btn bt-block col-12 my-2 bg-secondary text-light">Celular</button>
                        </div>
                        <div class="col-12">
                            <p>¿No tienes una cuenta? <a href="registro">Registrate</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>