{{!-- contenido padre --}}
<section class="container-fluid py-5 bg-light">
    {{!-- contenedor --}}
    <div class="container mt-5">
        <div class="row min-vh-100 justify-content-center align-items-center">
            <div class="col-12">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            {{!-- imagen  --}}
                            <img src="https://blog.foto24.com/wp-content/uploads/2019/02/2.2-683x1024.jpg" class="img-fluid rounded-start">
                        </div>
                        <div class="col-md-8 px-5">
                            <div class="card-body">
                                <form action="/ingreso" method="POST">
                                    <div class="row text-center">
                                        <div class="col-12 py-4">
                                            {{!-- iniciar sesion --}}
                                            <h5 class="text-center fw-bold text-uppercase">Iniciar Sesion</h5>
                                            {{!-- datos --}}
                                            <p>Introduce los datos de tu cuenta</p>
                                        </div>
                                        {{!-- correo electronico --}}
                                        <div class="col-12 mb-3">
                                            <input class="form-control" type="email" name="email_usuario" id="email_usuario" placeholder="Correo Electrónico" required>
                                        </div>
                                        {{!-- usuario --}}
                                        <div class="col-12 mb-3">
                                            <input class="form-control" type="password" name="pass_usuario" id="pass_usuario" placeholder="Contraseña" required>
                                        </div>
                                        {{!-- boton iniciar sesion --}}
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-secondary-eco">Iniciar Sesion</button>
                                        </div>
                                        {{!-- <div class="col-12 my-4">
                                            <p class="mb-0">ó continua con</p>
                                        </div>
                                        <div class="col-12">
                                            <button type="button" class="btn bt-block col-12 my-2 bg-primary text-light">Facebook</button>
                                            <button type="button" class="btn bt-block col-12 my-2 bg-danger text-light">Google</button>
                                        </div> --}}
                                        <div class="col-12">
                                            {{!-- boton registro --}}
                                            <p>¿No tienes una cuenta? <a href="registro">Registrate</a></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>