<section class="vh-100 bg-landing-eco shadow">
	<div class="row h-100 align-items-center m-0">
		<div class="col">
			<h1 class="text-center text-light fw-bold">¡Conoce los destino más populares este mes!</h1>
			<div class="mx-auto rounded-pill d-flex align-items-center" style="height: 50px; width: 100px; background-color: white">
				<div class="mx-auto rounded-pill" style="height: 25px; width: 50px; background-color: pink">

				</div>
			</div>
		</div>
	</div>
</section>

<section class="min-vh-100 py-5">
	<div class="container">
		<div class="row my-5">
			<div class="col-12">
				<h2 class="fw-bold">Conoce los destinos</h2>
			</div>
			<div class="col-12">
				<div class="carousel-prymary-eco">
					<div class="card card-eco bg-primary-eco mx-3">
						<img class="mx-auto p-0 card-img-top" src="https://i.ytimg.com/vi/BFoZMAud8KE/maxresdefault.jpg" alt="">
						<div class="card-footer">
							<p class="fw-bold">Pantanos de villas</p>
						</div>
					</div>
					<div class="card card-eco bg-primary-eco mx-3">
						<img class="mx-auto p-0 card-img-top" src="https://www.unapiquitos.edu.pe/contenido/opiniones/recursos/Loreto-pagagayo.jpg" alt="">
						<div class="card-footer">
							<p class="fw-bold">Pantanos de villas</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row my-5">
			<div class="col-12">
				<h2 class="fw-bold">Por Ubicación</h2>
			</div>
			<div class="col-12">
				<div class="carousel-prymary-eco">
					<div class="card card-eco bg-primary-eco mx-3">
						<img class="mx-auto p-0 card-img-top" src="https://i.ytimg.com/vi/TrLBLghtnc4/maxresdefault.jpg" alt="">
						<div class="card-footer">
							<p class="fw-bold">Lima</p>
						</div>
					</div>
					<div class="card card-eco bg-primary-eco mx-3">
						<img class="mx-auto p-0 card-img-top" src="https://www.unapiquitos.edu.pe/contenido/opiniones/recursos/Loreto-pagagayo.jpg" alt="">
						<div class="card-footer">
							<p class="fw-bold">Loreto</p>
						</div>
					</div>
					<div class="card card-eco bg-primary-eco mx-3">
						<img class="mx-auto p-0 card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/e/e6/Ciudad_de_Ayacucho.jpg" alt="">
						<div class="card-footer">
							<p class="fw-bold">Ayacucho</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<a href="#" class="btn-flotante"><i class="fas fa-plus-circle"></i>Agregar Publicación</a>
