<section class="vh-100 bg-landing-eco shadow">
	<div class="row h-100 align-items-center m-0">
		<div class="col text-center">
			<h1 class="text-light fw-bold">¡Conoce los destino más populares este mes!</h1>
			<button type="button" class="btn animate__animated animate__bounce" style="background-color: #802121; border-radius: 20px">
				<span class="fs-3 text-light p-2">Vamos</span>
			</button>
		</div>
	</div>
</section>

<section class="min-vh-100 py-5">
	<div class="container">
		<div class="row my-5">
			<div class="col-12">
				<h2 class="fw-bold">Conoce los destinos</h2>
			</div>
			<div class="col-12">
				<div class="carousel-prymary-eco">
					<div class="card card-eco shadow m-3">
						<img class="mx-auto p-0 card-img-top" src="https://i.ytimg.com/vi/BFoZMAud8KE/maxresdefault.jpg" alt="">
						<div class="card-footer">
							<p class="fw-bold">Pantanos de villas</p>
						</div>
					</div>
					<div class="card card-eco shadow m-3">
						<img class="mx-auto p-0 card-img-top" src="https://www.unapiquitos.edu.pe/contenido/opiniones/recursos/Loreto-pagagayo.jpg" alt="">
						<div class="card-footer">
							<p class="fw-bold">Pantanos de villas</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row my-5">
			<div class="col-12">
				<h2 class="fw-bold">Por Ubicación</h2>
			</div>
			<div class="col-12">
				<div class="carousel-prymary-eco">
					<div class="card card-eco shadow m-3">
						<img class="mx-auto p-0 card-img-top" src="https://i.ytimg.com/vi/TrLBLghtnc4/maxresdefault.jpg" alt="">
						<div class="card-footer">
							<p class="fw-bold">Lima</p>
						</div>
					</div>
					<div class="card card-eco shadow m-3">
						<img class="mx-auto p-0 card-img-top" src="https://www.unapiquitos.edu.pe/contenido/opiniones/recursos/Loreto-pagagayo.jpg" alt="">
						<div class="card-footer">
							<p class="fw-bold">Loreto</p>
						</div>
					</div>
					<div class="card card-eco shadow m-3">
						<img class="mx-auto p-0 card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/e/e6/Ciudad_de_Ayacucho.jpg" alt="">
						<div class="card-footer">
							<p class="fw-bold">Ayacucho</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row my-5">
			<div class="col-12">
				<h2 class="fw-bold">Destinos en la selva</h2>
			</div>
			<div class="col-12">
				<div class="carousel-prymary-eco">
					<div class="card card-eco shadow m-3">
						<img class="mx-auto p-0 card-img-top" src="https://i.ytimg.com/vi/TrLBLghtnc4/maxresdefault.jpg" alt="">
						<div class="card-footer">
							<p class="fw-bold">Lima</p>
						</div>
					</div>
					<div class="card card-eco shadow m-3">
						<img class="mx-auto p-0 card-img-top" src="https://www.unapiquitos.edu.pe/contenido/opiniones/recursos/Loreto-pagagayo.jpg" alt="">
						<div class="card-footer">
							<p class="fw-bold">Loreto</p>
						</div>
					</div>
					<div class="card card-eco shadow m-3">
						<img class="mx-auto p-0 card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/e/e6/Ciudad_de_Ayacucho.jpg" alt="">
						<div class="card-footer">
							<p class="fw-bold">Ayacucho</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<a href="#" class="btn btn-flotante rounded-circle">
	<i class="fas fa-pencil-alt" style="font-size: 42px;"></i>
	<span>Agregar Publicación</span>
</a>
