<section class="vh-100 bg-landing-eco shadow">
	<div class="row h-100 justify-content-center align-items-center m-0">
		<div class="col-12 col-md-6 text-center">
			<h1 class="text-light fw-bold">¡Conoce los destinos turísticos ecológicos más populares de Perú a través de experiencias!</h1>
			<button type="button" class="btn btn-primary-eco animate__animated animate__bounce">
				<span class="fs-3 p-2">¡Quiero compartir mi experiencia!</span>
			</button>
		</div>
	</div>
</section>

<section class="min-vh-100 py-5">
	<div class="container">
		<div class="row my-5">
			<div class="col-12">
				<h2 class="fw-bold">Conoce los destinos</h2>
			</div>
			<div class="col-12">
				<div class="carousel-prymary-eco">
					{{#each Mejores}}
						<a href="/destinos/{{id_destino}}">
							<div class="card card-eco shadow m-3">
								<img class="mx-auto p-0 card-img-top" src="https://i.ytimg.com/vi/BFoZMAud8KE/maxresdefault.jpg" alt="">
								<div class="card-footer">
									<p class="fw-bold">{{titulo_destino}}</p>
								</div>
							</div>
						</a>
					{{/each}}
				</div>
			</div>
		</div>
		<div class="row my-5">
			<div class="col-12">
				<h2 class="fw-bold">Publicaciones recientes</h2>
			</div>
			<div class="col-12">
				<div class="carousel-prymary-eco">
					{{#each Ultimos}}
						<a href="/destinos/{{id_destino}}">
							<div class="card card-eco shadow m-3">
								<img class="mx-auto p-0 card-img-top" src="https://i.ytimg.com/vi/TrLBLghtnc4/maxresdefault.jpg" alt="">
								<div class="card-footer">
									<p class="fw-bold">{{titulo_destino}}</p>
								</div>
							</div>
						</a>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</section>

<a href="#" class="btn btn-flotante rounded-circle">
	<i class="fas fa-pencil-alt" style="font-size: 42px;"></i>
	<span>Agregar Publicación</span>
</a>
