<section class="container-fluid py-5 bg-parrent-eco">
    <div class="container mt-5">
        <div class="row min-vh-100 justify-content-center align-items-center">
            <div class="col-12">
                <h2 class="text-center text-uppercase fw-bold">perfil de usuario</h2>
            </div>
            <div class="col-12 col-md-6 text-center">
                <img height="300px" class="m-3 rounded-circle" src="https://fotos-ayvisa.s3.eu-west-3.amazonaws.com/wp-content/uploads/2021/02/23202742/descargar-foto-perfil-instagram.jpg" alt="Foto de perfil">
            </div>
            <div class="col-12 col-md-6">
                <div class="p-3" style="background-color: #FFAAAA; border-radius: 30px;">
                    <h3 class="text-uppercase text-center fw-bold">actualizar datos</h3>
                    <form action="" class="text-center">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombres</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Nombres">
                        </div>
                        <div class="mb-3">
                            <label for="apellido_p" class="form-label">Apellido Paterno</label>
                            <input type="text" class="form-control" id="apellido_p" placeholder="Apellido paterno">
                        </div>
                        <div class="mb-3">
                            <label for="correo" class="form-label">Correo</label>
                            <input type="email" class="form-control" id="correo" placeholder="Correo">
                        </div>
                        <div class="mb-3">
                            <label for="apellido_m" class="form-label">Apellido materno</label>
                            <input type="text" class="form-control" id="apellido_m" placeholder="Apellido materno">
                        </div>
                        <button type="submit" class="btn btn-primary text-uppercase m-2" style="background-color: #802121; border-radius: 20px">aceptar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>