<section class="container-fluid min-vh-100 py-5">
    <div class="container mt-5 pt-5">
        <div class="row my-5">
            <div class="col">
                <h2 class="text-center text-uppercase fw-bold">perfil de usuario</h2>
            </div>
            <div class="col-12">
                <div class="row shadow justify-content-center align-items-center" style="border-radius: 30px; background: linear-gradient(183.16deg, #FFA4A4 2.62%, rgba(255, 164, 164, 0) 128.34%);">
                    <div class="col-12 col-md-6 text-center">
                        <img height="300px" class="m-3 rounded-circle" src="https://fotos-ayvisa.s3.eu-west-3.amazonaws.com/wp-content/uploads/2021/02/23202742/descargar-foto-perfil-instagram.jpg" alt="Foto de perfil">
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="p-3" style="background-color: white; border-radius: 30px;">
                            <h5 class="text-uppercase text-center fw-bold">usuario: {{perfil.nombre_perfil}}</h5>
                            <div class="p-4 text-light" style="background-color: #5F5EA1; border-radius: 30px;">
                                <p class="text-uppercase">total de publicaciones: {{perfil.N_publicaciones}}</p>
                                <p class="text-uppercase">fecha de inicio: {{timeago perfil.fecha_creacion_perfil}}</p>
                                <div class="text-center">
                                    <button class="btn btn-primary text-uppercase m-2" style="background-color: #802121; border-radius: 20px">actualizar datos</button>
                                    <button class="btn btn-primary text-uppercase m-2" style="background-color: #802121; border-radius: 20px">cambiar contraseña</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-5">
            <div class="col">
                <h2 class="text-center text-uppercase fw-bold">ultimas pulicaciones</h2>
            </div>
            <div class="col-12 my-4">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-md-10">
                        <h5 class="fw-bold">Mi gran experiencia en, Paracas</h5>
                        <div class="card bg-dark text-white">
                            <img src="https://cdn.pixabay.com/photo/2017/09/30/13/20/landscape-2802077_960_720.jpg" class="card-img" alt="Foto experiencia" style="height: 300px; object-fit: cover">
                            <div class="card-img-overlay">
                                <div class="row justify-content-between">
                                    <div class="col">
                                        <img width="150px" height="150px" class="m-3 rounded-circle" src="https://fotos-ayvisa.s3.eu-west-3.amazonaws.com/wp-content/uploads/2021/02/23202742/descargar-foto-perfil-instagram.jpg" alt="Foto de perfil">
                                    </div>
                                    <div class="col-3 text-center">
                                        <div class="m-2 d-flex align-items-center">
                                            <div class="rounded-circle p-2 m-3 d-flex justify-content-center align-items-center" style="background: pink">
                                                <i class="fas fa-heart" style="color: #2E3A59;"></i>
                                            </div>
                                            <p class="m-0">23</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2 text-center">
                        <button class="btn btn-primary text-uppercase m-2" style="background-color: #802121; border-radius: 20px">eliminar</button>
                    </div>
                </div>
            </div>
            
            {{!-- ELIMINAR --}}

            <div class="col-12 my-4">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-md-10">
                        <h5 class="fw-bold">Mi gran experiencia en, Paracas</h5>
                        <div class="card bg-dark text-white">
                            <img src="https://cdn.pixabay.com/photo/2017/09/30/13/20/landscape-2802077_960_720.jpg" class="card-img" alt="Foto experiencia" style="height: 300px; object-fit: cover">
                            <div class="card-img-overlay">
                                <div class="row justify-content-between">
                                    <div class="col">
                                        <img width="150px" height="150px" class="m-3 rounded-circle" src="https://fotos-ayvisa.s3.eu-west-3.amazonaws.com/wp-content/uploads/2021/02/23202742/descargar-foto-perfil-instagram.jpg" alt="Foto de perfil">
                                    </div>
                                    <div class="col-3 text-center">
                                        <div class="m-2 d-flex align-items-center">
                                            <div class="rounded-circle p-2 m-3 d-flex justify-content-center align-items-center" style="background: pink">
                                                <i class="fas fa-heart" style="color: #2E3A59;"></i>
                                            </div>
                                            <p class="m-0">23</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2 text-center">
                        <button class="btn btn-primary text-uppercase m-2" style="background-color: #802121; border-radius: 20px">eliminar</button>
                    </div>
                </div>
            </div>

            <div class="col-12 my-4">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-md-10">
                        <h5 class="fw-bold">Mi gran experiencia en, Paracas</h5>
                        <div class="card bg-dark text-white">
                            <img src="https://cdn.pixabay.com/photo/2017/09/30/13/20/landscape-2802077_960_720.jpg" class="card-img" alt="Foto experiencia" style="height: 300px; object-fit: cover">
                            <div class="card-img-overlay">
                                <div class="row justify-content-between">
                                    <div class="col">
                                        <img width="150px" height="150px" class="m-3 rounded-circle" src="https://fotos-ayvisa.s3.eu-west-3.amazonaws.com/wp-content/uploads/2021/02/23202742/descargar-foto-perfil-instagram.jpg" alt="Foto de perfil">
                                    </div>
                                    <div class="col-3 text-center">
                                        <div class="m-2 d-flex align-items-center">
                                            <div class="rounded-circle p-2 m-3 d-flex justify-content-center align-items-center" style="background: pink">
                                                <i class="fas fa-heart" style="color: #2E3A59;"></i>
                                            </div>
                                            <p class="m-0">23</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2 text-center">
                        <button class="btn btn-primary text-uppercase m-2" style="background-color: #802121; border-radius: 20px">eliminar</button>
                    </div>
                </div>
            </div>

            <div class="col-12 my-4">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-md-10">
                        <h5 class="fw-bold">Mi gran experiencia en, Paracas</h5>
                        <div class="card bg-dark text-white">
                            <img src="https://cdn.pixabay.com/photo/2017/09/30/13/20/landscape-2802077_960_720.jpg" class="card-img" alt="Foto experiencia" style="height: 300px; object-fit: cover">
                            <div class="card-img-overlay">
                                <div class="row justify-content-between">
                                    <div class="col">
                                        <img width="150px" height="150px" class="m-3 rounded-circle" src="https://fotos-ayvisa.s3.eu-west-3.amazonaws.com/wp-content/uploads/2021/02/23202742/descargar-foto-perfil-instagram.jpg" alt="Foto de perfil">
                                    </div>
                                    <div class="col-3 text-center">
                                        <div class="m-2 d-flex align-items-center">
                                            <div class="rounded-circle p-2 m-3 d-flex justify-content-center align-items-center" style="background: pink">
                                                <i class="fas fa-heart" style="color: #2E3A59;"></i>
                                            </div>
                                            <p class="m-0">23</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2 text-center">
                        <button class="btn btn-primary text-uppercase m-2" style="background-color: #802121; border-radius: 20px">eliminar</button>
                    </div>
                </div>
            </div>
            {{!-- FIN ELIMINAR --}}
        </div>
    </div>
</section>