{{!-- contenedor principal --}}
<section class="container-fluid py-5 bg-crema-eco">
    {{!-- contenedor  --}}
    <div class="container mt-5">
        {{!-- alto total --}}
        <div class="row min-vh-100 justify-content-center align-items-center">
            <div class="col-12">
                {{!-- titulo configuracion --}}
                <h2 class="text-center text-capitalize fw-bold">editar perfil</h2>
                {{!-- card de modificacion --}}
                <div class="card p-3 shadow">
                    <div class="card-body">
                        <div class="row">
                             {{!-- foto perfil --}}
                            <div class="col-12 col-md-6 text-center">
                                <img height="300px" class="m-3 rounded-circle" src="https://fotos-ayvisa.s3.eu-west-3.amazonaws.com/wp-content/uploads/2021/02/23202742/descargar-foto-perfil-instagram.jpg" alt="Foto de perfil">
                            </div>
                            {{!-- total configuracion --}}
                            <div class="col-12 col-md-6">
                                <form action="/perfil/cambiar_datos" method="POST">
                                    {{!-- nombres nuevos --}}
                                    <div class="mb-3 border-top border-3 p-2">
                                        <label for="nombre" class="form-label fw-bold">Nombres</label>
                                        <input type="text" class="form-control" id="nombre_perfil" name="nombre_perfil" placeholder="Ingrese los nombres" value={{perfil.nombre_perfil}}>
                                    </div>
                                    {{!-- apellidos nuevos --}}
                                    <div class="mb-3 border-top border-3 p-2">
                                        <label for="apellido_p" class="form-label fw-bold">Apellidos</label>
                                        <input type="text" class="form-control" id="apellido_perfil" name="apellido_perfil"  placeholder="Ingrese los apellidos" value={{perfil.apellido_perfil}}>
                                    </div>
                                    {{!-- correo nuevo --}}
                                    <div class="mb-3 border-top border-3 p-2">
                                        <label for="correo" class="form-label fw-bold">Correo</label>
                                        <input type="email" class="form-control" id="email_usuario" name="email_usuario" placeholder="Ingrese el correo" value={{perfil.email_usuario}}>
                                    </div>

                                    <div class="col-12 text-center">
                                        <button type="submit" class="btn btn-secondary-eco text-uppercase m-2 px-4 py-2">guardar</button>
                                        <button type="submit" class="btn btn-secondary-eco text-uppercase m-2 px-4 py-2" onclick="history.go(-1);">cancelar</button>
                                    </div>
                                </form>
                            </div>
                            {{!-- botones configuracion --}}
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-secondary-eco text-uppercase m-2 px-4 py-2">guardar</button>
                                <button type="submit" class="btn btn-secondary-eco text-uppercase m-2 px-4 py-2" onclick="history.go(-1);">cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>