{{!-- contenedor gran padre --}}
<footer class="container-fluid bg-dark-eco text-center">
    {{!-- contenedor interior --}}
    <div class="container px-5">
        <div class="row">
            {{!-- copyrigth --}}
            <div class="col-12 text-center py-2"><p class="mb-0">Ecoturismo 2021</p></div>
        </div>
    </div>
</footer>