<footer>
    <div class="container-fluid bg-dark-eco text-center">
        <div class="container px-5">
            <div class="row">
                {{!-- <div class="col-12 pt-5">
                    <div class="row">
                        <div class="col-md-4 text-md-start">
                            <p>Conoce los destinos</p>
                            <p>Contáctanos</p>
                            <p><a class="text-decoration-none text-light" href="/ingreso">Iniciar Sesión</a></p>
                            <p><a class="text-decoration-none text-light" href="/registro">Registrarse</a></p>
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4 text-md-end">
                            <p>Agregar Publicación</p>
                        </div>
                    </div>
                </div> --}}
                <div class="col-12 text-center py-2 border-top border-3"><p class="mb-0">Ecoturismo 2021</p></div>
            </div>
        </div>
    </div>
</footer>