{{!-- contenedor padre --}}
<nav class="navbar navbar-expand-lg fixed-top bg-landing-eco shadow">
    {{!-- contenedor --}}
    <div class="container px-5">
        {{!-- enlace principal imagen --}}
        <a class="navbar-brand bg-light rounded-circle p-2" href="/">
            <img src="/img/logo_principal.png" alt="" width="50" height="50">
        </a>
        {{!-- boton de responsive --}}
        <button class="navbar-toggler bg-light rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars color-primary-eco"></i>
        </button>
        {{!-- menu responsive --}}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex mx-auto w-75">
                <div class="input-group mb-3">
                    {{!-- buscar un destino --}}
                    <span class="input-group-text ms-5" id="search"><button class="btn"><i class="fas fa-search color-primary-eco"></i></button></span>
                    <input type="text" class="form-control me-5" placeholder="Busca un destino o ubicacón..." aria-label="Busca un destino o ubicacón" aria-describedby="search">
                </div>
            </form>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {{!-- opciones menu --}}
                {{#if user}}
                    <li class="nav-item dropdown">
                        {{!-- icono responsive --}}
                        <p class="nav-link dropdown-toggle color-primary-eco bg-light rounded-pill" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user-circle" style="font-size: 42px;"></i>
                        </p>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="min-width: 0px;">
                            {{!-- perfil --}}
                            <li><a class="dropdown-item text-uppercase" href="/perfil">Mi perfil</a></li>
                            {{!-- cambiar datos --}}
                            <li><a class="dropdown-item text-uppercase" href="/perfil/cambiar_datos">Cambiar datos</a></li>
                            {{!-- cambiar contraseña --}}
                            <li><a class="dropdown-item text-uppercase" href="/perfil/cambiar_pass">Cambar contraseña</a></li>
                            {{!-- cerrar sesion --}}
                            <li><a class="dropdown-item text-uppercase" href="/salida">Cerrar sesion</a></li>
                        </ul>
                    </li>
                {{!-- si no ha iniciado session --}}
                {{else}}
                    {{!-- iniciar sesion --}}
                    <a href="/ingreso"><button class="btn btn-primary-eco m-2">Iniciar Sesión</button></a>
                    {{!-- registro --}}
                    <a href="/registro"><button class="btn btn-primary-eco m-2">Registrarse</button></a>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
