<section class="container-fluid py-5 bg-light">
    <div class="container mt-5 py-5">
        <form method="post">
            <div class="row g-5">
                <div class="col-12 mb-3">
                    <input type="text" class="form-control" placeholder="Ingresa el titulo">
                </div>
                <div class="col-12 col-md-6 bg-secondary">
                    {carga de imagenes}
                </div>
                <div class="col-12 col-md-6 text-center">
                    <p>La pimera imagen es la portada</p>
                    <input type="file" class="form-control" multiple>
                </div>

                <div class="col-12 col-md-6">
                    <p>Recomendacion N1</p>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Escribe algo">
                    </div>
                    <p>Recomendacion N2</p>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Escribe algo">
                    </div>
                    <p>Recomendacion N3</p>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Escribe algo">
                    </div>
                </div>
                <div class="col-12 col-md-6 text-center">
                    <div class="rounded-circle bg-primary-eco p-5" style="width: 200px; height: 200px">
                        Brinda 3 recomendaciones al visitar
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>