{{!-- contenedor padre --}}
<section class="min-vh-100 d-flex justify-content-center align-items-center">
    {{!-- card --}}
    <div class="card shadow">
        <div class="card-body p-5" style="width: 20rem;">
            {{!-- propuesta lugar --}}
            <h5 class="card-title text-center fw-bold">PROPUESTA DE LUGAR</h5>
            <p class="card-text text-center">Ingresa el URL de Google Maps donde se ubica el destino turístico ecológico</p>
            <div class="mb-3">
                {{!-- google map intput --}}
                <input class="form-control" type="text" placeholder="URL de Google Maps">
            </div>
            {{!-- boton enviar --}}
            <button class="btn btn-secondary-eco text-center btn-block col-12" type="submit">Enivar propuesta</button>
            {{!-- regresar --}}
            <div class="text-center my-3">
                <a href="javascript: history.go(-1)">Regresar</a>
            </div>
            {{!-- nota --}}
            <p class="text-muted text-justify">NOTA: Se le avisará vía correo electrónico cuando se suba su propuesta en la base de datos de Ecoturismo</p>
        </div>
        <div class="card-footer bg-dark-eco">

        </div>
    </div>
</section>
