<section class="container-fluid min-vh-100 py-5">
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-12">
                <h1 class="text-uppercase fw-bold text-center text-md-start">mi gran experiencia en paracas, ica</h1>
            </div>
        </div>

        <div class="position-relative">
            <img height="300px" class="img-fluid" src="https://www.nationalgeographic.com.es/medio/2018/02/27/playa-de-isuntza-lekeitio__1280x720.jpg" />
            <div class="position-absolute top-0">Texto</div>
            <div class="position-absolute top-50 start-50 translate-middle">Centrado</div>
        </div>

        <div class="row py-5">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-4 py-3">
                        <div class="bg-primary text-light rounded p-4">
                            <h5 class="text-center fw-bold mb-3">3 Recomenraciones para Viajar</h5>
                            <ol>
                                <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></li>
                                <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></li>
                                <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-8 py-3">
                        <div class="row justify-content-center align-items-center p-3">
                            <div class="col-auto">
                                <img src="https://www.movilzona.es/app/uploads-movilzona.es/2019/05/Foto-de-Perfil-en-WhatsApp.jpg?x=480&y=375&quality=40" alt="" width="90px" height="90px" class="rounded-circle">
                            </div>
                            <div class="col">
                                <p class="fw-bold">Aubrey Eden</p>
                                <p>Viajante ocasional en Perú</p>
                            </div>
                        </div>
                        <p class="fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nunc feugiat, faucibus nulla eu, mollis sem. Nunc eu arcu lobortis diam venenatis porttitor sed a dolor. Sed dapibus lorem sed ipsum tincidunt dictum. Sed augue ex, tempus in ultrices nec, eleifend et metus. Curabitur consectetur leo eu ultricies sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nunc feugiat, faucibus nulla eu, mollis sem. Nunc eu arcu lobortis diam venenatis porttitor sed a dolor. </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <p class="fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nunc feugiat, faucibus nulla eu, mollis sem. Nunc eu arcu lobortis diam venenatis porttitor sed a dolor. Sed dapibus lorem sed ipsum tincidunt dictum. Sed augue ex, tempus in ultrices nec, eleifend et metus. Curabitur consectetur leo eu ultricies sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nunc feugiat, faucibus nulla eu, mollis sem. Nunc eu arcu lobortis diam venenatis porttitor sed a dolor. Sed dapibus lorem sed ipsum tincidunt dictum. Sed augue ex, tempus in ultrices nec, eleifend et metus. Curabitur consectetur leo eu ultricies sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nunc feugiat, faucibus nulla eu, mollis sem. Nunc eu arcu lobortis diam venenatis porttitor sed a dolor. Sed dapibus.</p>
            </div>
        </div>

        <div class="row py-5">
            <div class="col-12">
                <h3 class="text-center text-uppercase fw-bold">COMENTARIOS SOBRE LA EXPERIENCIA</h3>
            </div>
            <div class="col-12 p-3" style="background-color: #E9E9E9; border-radius: 30px;">
                <div class="row justify-content-center align-items-center p-3">
                    <div class="col-md-auto">
                        <img src="https://www.movilzona.es/app/uploads-movilzona.es/2019/05/Foto-de-Perfil-en-WhatsApp.jpg?x=480&y=375&quality=40" alt="" width="90px" height="90px" class="rounded-circle">
                    </div>
                    <div class="col">
                        <p class="fw-bold">Aubrey Eden</p>
                        <p>Viajante ocasional en Perú</p>
                    </div>
                    <div class="col">
                        <textarea class="form-control" name="" id="" cols="90" rows="3" placeholder="Ingresa tu comentario..."></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row py-5" style="max-height: 480px; overflow-y: scroll;">
            <div class="col-12 pb-5">
                <div class="row justify-content-center align-items-center">
                    <div class="col-auto">
                        <img src="https://www.movilzona.es/app/uploads-movilzona.es/2019/05/Foto-de-Perfil-en-WhatsApp.jpg?x=480&y=375&quality=40" alt="" width="90px" height="90px" class="rounded-circle">
                    </div>
                    <div class="col">
                        <p class="fw-bold">Aubrey Eden</p>
                        <p>Viajante ocasional en Perú</p>
                    </div>
                    <div class="col">
                        <p>Sed augue ex, tempus in ultrices nec, eleifend et metus. Curabitur consectetur leo eu ultricies sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nunc feugiat, faucibus nulla eu, mollis.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 pb-5">
                <div class="row justify-content-center align-items-center">
                    <div class="col-auto">
                        <img src="https://www.movilzona.es/app/uploads-movilzona.es/2019/05/Foto-de-Perfil-en-WhatsApp.jpg?x=480&y=375&quality=40" alt="" width="90px" height="90px" class="rounded-circle">
                    </div>
                    <div class="col">
                        <p class="fw-bold">Aubrey Eden</p>
                        <p>Viajante ocasional en Perú</p>
                    </div>
                    <div class="col">
                        <p>Sed augue ex, tempus in ultrices nec, eleifend et metus. Curabitur consectetur leo eu ultricies sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nunc feugiat, faucibus nulla eu, mollis.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 pb-5">
                <div class="row justify-content-center align-items-center">
                    <div class="col-auto">
                        <img src="https://www.movilzona.es/app/uploads-movilzona.es/2019/05/Foto-de-Perfil-en-WhatsApp.jpg?x=480&y=375&quality=40" alt="" width="90px" height="90px" class="rounded-circle">
                    </div>
                    <div class="col">
                        <p class="fw-bold">Aubrey Eden</p>
                        <p>Viajante ocasional en Perú</p>
                    </div>
                    <div class="col">
                        <p>Sed augue ex, tempus in ultrices nec, eleifend et metus. Curabitur consectetur leo eu ultricies sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nunc feugiat, faucibus nulla eu, mollis.</p>
                    </div>
                </div>
            </div>
             <div class="col-12 pb-5">
                <div class="row justify-content-center align-items-center">
                    <div class="col-auto">
                        <img src="https://www.movilzona.es/app/uploads-movilzona.es/2019/05/Foto-de-Perfil-en-WhatsApp.jpg?x=480&y=375&quality=40" alt="" width="90px" height="90px" class="rounded-circle">
                    </div>
                    <div class="col">
                        <p class="fw-bold">Aubrey Eden</p>
                        <p>Viajante ocasional en Perú</p>
                    </div>
                    <div class="col">
                        <p>Sed augue ex, tempus in ultrices nec, eleifend et metus. Curabitur consectetur leo eu ultricies sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nunc feugiat, faucibus nulla eu, mollis.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row py-5">
            <div class="col-12">
                <h3 class="fw-bold text-center text-md-start">Ubicación de la experiencia</h3>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d35288.42631726812!2d-77.0546366062687!3d-12.075863608155123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c91a5000653d%3A0x1654d5501a2ea1e9!2sMuseo%20Larco!5e0!3m2!1ses-419!2spe!4v1636822320116!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>